<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.a2" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>A2</name>
    <description>
        Assessing the Phonegap mobile framework
    </description>
    <author email="ls223aa@student.lnu.se">
        LNU student 
    </author>
      <author email="camilla.bengtsson@gmail.com ">
        LNU student 
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
